@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Kessel';
    src:url('fonts/kessel.ttf');
}
@font-face{
    font-family: 'Faber';
    src:url('fonts/faber.ttf');
}
@font-face{
    font-family: 'Content';
    src:url('fonts/content.ttf');
}

body::-webkit-scrollbar {
    display: none;
}